@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.loginImage {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 16.13%,
      rgba(0, 0, 0, 0) 56%,
      #000 87%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
    url("https://t3.ftcdn.net/jpg/06/25/36/20/360_F_625362093_yxqwziX4lW6rBbmFL9eaTjZUrPLbhitJ.jpg")
      lightgray 50% / cover no-repeat;
}
